﻿@{
    ViewBag.Title = "Lista de Autos";
}

<h2>Lista de autos</h2>
<br />
<br />
<a href="@Url.Action("Create", "Automovil")" class="btn btn-primary">Crear Registro</a>
<br />
<br />
<table class="table">
    <tr>
        <th>Marca</th>
        <th>Color</th>
        <th>Matricula</th>
        <th>Precio Renta</th>
        <th>Acciones</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>@item.Marca</td>
        <td>@item.Color</td>
        <td>@item.Matricula</td>
        <td>@item.Precio</td>
        <td>
            <!-- Single button -->
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Acciones <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="@Url.Action("Edit", "Automovil", new { id = @item.Id })">Editar</a></li>
                    <li><a href="@Url.Action("Details", "Automovil", new { id = @item.Id })">Detalle</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="@Url.Action("Delete", "Automovil", new { id = @item.Id })">Eliminar</a></li>
                </ul>
            </div>
        </td>
    </tr>
}

</table>
